.product-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-filter-container {
  width: 100%; /* Make the sort/filter container take the full width */
  justify-content: space-between;
  margin-bottom: 10px; /* Add some space between sort/filter and product list */
}

.product-card {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  height: 300px;
  position: relative;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  background-color: #f9f9f9; /* Change the background color on hover */
  transform: scale(1.05); /* Increase the size slightly on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
}

.product-title {
  font-size: 16px;
  margin: 0;
}

.product-price {
  font-weight: bold;
  text-align: center;
}

.product-image {
  padding: 10px;
  max-width: 80%;
  max-height: 200px;
  height: auto;
}

.product-card button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
