/* Reset default margin and padding for the entire page */
body,
div,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Main container */
.App {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.banner-image {
  max-width: 1200px;
}

/* First Row: Navigation Links */
.nav-row {
  display: flex;
  align-items: right;
  background-color: #445657;
  padding: 10px 0;
  color: #fff;
  transition: background-color 0.3s;
  margin: 0;
}

.nav-row:hover {
  background-color: #445657; /* Change the background color on hover */
}

.nav-button {
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s; /* Add a transition for text color change on hover */
}

.nav-button:hover {
  color: #ffcc00; /* Change the text color on hover */
}

.home-link {
  margin-left: 1;
}

/* Second Row: Search Bar and Filters */
.search-row {
  background-color: #eee;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it spans the full width */
}

.product-search {
  overflow: auto; /* Display scrollbars when content overflows */
  display: flex;
  align-items: center;
}

.product-search input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 1920px;
  box-sizing: border-box;
  margin: 0 10px;
}

.product-search button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 3px;
  cursor: pointer;
  transition: color 0.3s;
  margin-right: 10px;
}

.product-search button:hover {
  color: #ffcc00; /* Change the text color on hover */
}

/* Style for Sort and Filter dropdowns */
.sort-filter-container {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

label {
  margin: 0 10px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
}

